.controller.ds4.edit{
    background: url(https://github.com/jynxlys/gamepade-viewer-ps4-controller-skin/blob/master/base.svgz);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
