.controller.edit {
    background: url(https://i.imgur.com/PKyKdWK.png);
    height: 544px;
    width: 668px;
}
.edit .stick {
    position: absolute;
    background: url(http://i.imgur.com/LpLOf3G.png);
    height: 86px;
    width: 86px;
}
